<html>
<head>
	<meta charset="UTF-8">
	<title>Component 4 </title>
	<link rel="stylesheet" href="component4.css">
</head>
<body>
	<!--Phần Footer-->

	<footer>
		<div class="container">
			<div class="baoquat" id="contactz">
				<div class="bentrai">
					<div class="hinh">
					<img src="../img/logo3_3.png">
					</div>
					<p>Duis condimentum nisi eget erat consectetur pretium. Suspendisse nec tortor sit amet sem aliquam blandit. Phasellus posuere pellentesque tortor, vitae eleifend neque interdum eget. Proin sagittis massa sed eros lobortis consequat. Sed id scelerisque turpis, facilisis fringilla enim.</p>
					<div class="icon-social">
						<img src="../img/facebook.png">
						<img src="../img/pinterest.png">
						<img src="../img/twitter.png">
						<img src="../img/instagram.png">

					</div>
				</div>
				<div class="benphai">

					<div class="thongtin">
					<input type="text" placeholder="Name" name="yourname" required>
					</div>

					<div class="thongtin">
					<input type="text" placeholder="Enter Email" name="email" required>
					</div>

					<div class="thongtin thongtin2">
					<input type="text" placeholder="Leave your message here..." name="message"  required >
					</div>
					 <button type="submit" class="regist	erbtn">Submit</button>
				</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="copy">
		<p>
			Coppyright 2020 Nguyễn Huỳnh Gia Bảo <br>All rights reserved
		</p>
	</div>
</body>
</html>