<html>
<head>
	<meta charset="UTF-8">
	<title>Component 1</title>
	<link rel="stylesheet" href="component1.css">
</head>
<body>
	<div class="container">
		<nav id="nav"> 
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#conten">About</a></li>
				<li><a href="#services">Service</a></li>
				<li><a href="#"><img src="../img/logo3_3.png"></a></li>
				<li><a href="#ourtem">Our Team</a></li>
				<li><a href="#reviewz">Reviews</a></li>
				<li><a href="#contactz">Contacts</a></li>
			</ul>
		</nav>
	</div>


	<div class="banner">
		<img src="../img/1_5.png">
	</div>

</body>
</html>