<html>
<head>
	<meta charset="UTF-8">
	<title>Component 2</title>
	<link rel="stylesheet" href="component2.css">
</head>
<body>
	<div id="tieude">
		<div class="container">
			<div class="title1" id="conten">
				<h3>About</h3>
			<img src="../img/thanhdep.png">
			<p>Аoster strategic core competencies rather than value-added niche markets. Assertively extend extensive users rather than cost</p>
			</div>
		</div>
	</div>

	<div id="about-content">
		<div class="container">
			<div class="this-content">
				<div>
					<img src="../img/kitchen.png" style="width: 85px;height: 77px">
					<h4>Recipes</h4>
					<p>Lorem ipsum dolor sit <br> amet eiusmod tempor <br>incididunt ut labore<br> et consectetur adipiscing
					</p>
					<div class="read-more">
						<p>Read More</p>
					</div>
				</div>

				<div>
					<img src="../img/caibanh.png">
					<h4>Take Classes</h4>
					<p>Lorem ipsum dolor sit <br> amet eiusmod tempor <br>incididunt ut labore <br>etconsectetur adipiscing
					</p>
					<div class="read-more">
						<p>Read More</p>
					</div>
					
				</div>
				<div>
					<img src="../img/kimcuong.png">
					<h4>Products</h4>
					<p>Lorem ipsum dolor sit <br> amet eiusmod tempor<br> incididunt ut labore<br> et consectetur adipiscing
					</p>
					<div class="read-more">
						<p>Read More</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

<!-- Phần Services -->

	<div id="tieude">
		<div class="container">
			<div class="title1" id="services">
				<h3>Services</h3>
			<img src="../img/thanhdep.png">
			<p>We have foster strategic core competencies rather than value-added niche markets.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="service-content">
			<div>
				<img src="../img/icon4.png">
				<h3>Chef with years of experience</h3>
				<p>
					Quisque consectetur lacus id nibh congue<br>  a fringilla felis imperdiet. Nam eget <br>placerat ex. In eu quam enim.
				</p>
			</div>
			<div>
				<img src="../img/icon5.png">
				<h3>Free delivery</h3>
				<p>
					Quisque consectetur lacus id nibh congue<br>  a fringilla felis imperdiet. Nam eget <br>placerat ex. In eu quam enim.
				</p>
			</div>
			<div>
				<img src="../img/icon6.png">
				<h3>Tasty & delicious cakes</h3>
				<p>
					Quisque consectetur lacus id nibh congue<br>  a fringilla felis imperdiet. Nam eget <br>placerat ex. In eu quam enim.
				</p>
			</div>
			<div>
				<img src="../img/icon7.png">
				<h3>Fresh & natural product</h3>
				<p>
					Quisque consectetur lacus id nibh congue<br>  a fringilla felis imperdiet. Nam eget <br>placerat ex. In eu quam enim.
				</p>
			</div>

		</div>
	</div>

</body>
</html>