<html>
<head>
	<meta charset="UTF-8">
	<title>Component 3</title>
	<link rel="stylesheet" href="component3.css">
</head>
<body>
	<!--Phần Our Team-->

	<div class="ourteam">
		<div id="tieude">
			<div class="container">
				<div class="title1 title2" id="ourtem">
					<h3>Our chief team</h3>
						<img src="../img/thanhdep2.png">
						<p>Foster strategic core competencies rather than value-added niche markets.<br>Assertively extend extensive users rather than cost</p>
				</div>
			</div>
		</div>	
		<div class="ourteam-content">
			<div class="container">
				<div class="cooker">
					<div>
						<img src="../img/1.png">
						<h4>John Doe</h4>
						<p>Fusce ut elit nec enim interdum viverra.<br> Praesent interdum sollicitudin<br> dolor sed tempus.</p>
					</div>
					<div>
						<img src="../img/2.png">
						<h4>Arnold Doe</h4>
						<p>Fusce ut elit nec enim interdum viverra.<br> Praesent interdum sollicitudin<br> dolor sed tempus.</p>
					</div>
					<div>
						<img src="../img/3.png">
						<h4>Jessica Armstrong</h4>
						<p>Fusce ut elit nec enim interdum viverra.<br> Praesent interdum sollicitudin<br> dolor sed tempus.</p>
					</div>
					<div>
						<img src="../img/4.png">
						<h4>Jonathon Doe</h4>
						<p>Fusce ut elit nec enim interdum viverra.<br> Praesent interdum sollicitudin<br> dolor sed tempus.</p>
					</div>
				</div>	
			</div>	
		</div>
	</div>

<!--Phần Special Offer-->
	
	<div id="tieude">
		<div class="container">
			<div class="title1">
				<h3>Special offers</h3>
			<img src="../img/thanhdep.png">
			<p>Rather than value-added niche markets. Assertively extend extensive users rather.</p>
			</div>
		</div>
	</div>	

	<div class="container">
		<div class="tongquat">
			<div class="khung">
				<img src="../img/icon1.png">
				<h3>Box of cupcakes</h3>
				<img src="../img/caino.png">
				<p>Distinctively aggregate standardized experiences before   superior e-markets.Dynamically foster mission-critical best practices for dynamic niches. Uniquely.
				</p>
				<h4>49.99$</h4>
				<div class="order-now">
					<h5><a href="#">Order Now</a></h5>
				</div>
			</div>
			<div class="khung">
				<img src="../img/icon2.png">
				<h3>Box of cupcakes</h3>
				<img src="../img/caino.png">
				<p>Distinctively aggregate standardized experiences before  superior e-markets.Dynamically foster mission-critical best practices for dynamic niches. Uniquely.
				</p>
				<h4>49.99$</h4>
				<div class="order-now">
					<h5><a href="#">Order Now</a></h5>
				</div>
			</div>
			<div class="khung">
				<img src="../img/icon3.png">
				<h3>Box of cupcakes</h3>
				<img src="../img/caino.png">
				<p>Distinctively aggregate standardized experiences before  superior e-markets.Dynamically foster mission-critical best practices for dynamic niches. Uniquely.
				</p>
				<h4>49.99$</h4>
				<div class="order-now">
					<h5><a href="#">Order Now</a></h5>
				</div>
			</div>
		</div>
	</div>

<!--Phần Khách Hàng-->

	<div class="khachhang" id="reviewz">
		<div class="container">
			<div class="khung-khachhang">
				<div>
					<img src="../img/deptrai.jpg">
				</div>
				<h3>Arnord Lewis</h3>
				<img src="../img/phukien.png">
				<p>Paradise Cakes is the BEST! I still find it hard to believe that the beautiful cake was mine! Still can't decide if I like the Almond or coconut layer better. Both are so delicious! What an amazing, wonderful surprise!! </p>
			</div>
		</div>
	</div>
</body>
</html>